.container {
    padding: 20px 130px 200px 130px;
}

.title {
    margin-top: 1.3rem;
    font-weight: 300;
    font-size: x-large;
}
.item {
    margin: 10px 0;
}

.button {
    color: white;
    background-color: rgb(37, 131, 255);
    width: 167px;
    height: 37px;
    border-radius: 5px;
    border: 0;
}
